tr id="#{dom_id service_group}"
  td
    =service_group.code
  td
    =service_group.name
  td
    =service_group.status
  td
    .btn-groups
      =link_to service_group_path(service_group), class: "btn btn--light" do
        =create_icon("show")
      =link_to edit_service_group_path(service_group), class: "btn btn--light" do
        =create_icon("edit")
