:root {
  /* ------------------ BASE TYPOGRAPHY ------------------ */
  --font-family-sans: "Lato", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  --font-family-display: "Bricolage Grotesque", sans-serif;

  --line-height-headers: 1.1;
  --line-height-body: 1.5;

  /* Font sizes */
  --font-size-xs: 0.75rem; // 12px
  --font-size-s: 0.875rem; // 14px
  --font-size-m: 1rem; // 16px
  --font-size-l: 1.125rem; // 18px
  --font-size-xl: 1.25rem; // 20px
  --font-size-xxl: 1.5rem; // 24px
  --font-size-xxxl: 2rem; // 32px
  --font-size-xxxxl: 2.5rem; // 40px

  /* ------------------ BASE COLORS ------------------ */
  --color-text: hsl(240, 64%, 5%); /* #050315 */
  --color-background: hsl(240, 67%, 98%); /* #fbfbfe */

  /* Brand */
  --color-primary: hsl(245, 68%, 48%); /* #2f27ce */
  --color-primary-rotate: hsl(245, 68%, 56%);
  --color-primary-bg: hsl(245, 68%, 92%);
  --color-secondary: hsl(245, 57%, 91%); /* #dedcff */
  --color-tertiary: hsl(11, 59%, 89%); /* #f1ddd9 */
  --color-accent: hsl(245, 100%, 63%); /* #433bff */
  --color-separator: hsl(0, 0%, 85%); /* #d9d9d9 */

  /* ------------------ SPACING SYSTEM ------------------ */
  --space-xxxs: 0.25rem; // 4px
  --space-xxs: 0.375rem; // 6px
  --space-xs: 0.5rem; // 8px
  --space-s: 0.75rem; // 12px
  --space-m: 1rem; // 16px
  --space-l: 1.5rem; // 24px
  --space-xl: 2rem; // 32px
  --space-xxl: 2.5rem; // 40px
  --space-xxxl: 3rem; // 48px
  --space-xxxxl: 4rem; // 64px

  /* ------------------ NEUTRAL COLORS ------------------ */
  --color-white: hsl(0, 0%, 100%);
  --color-light: hsl(0, 6%, 93%);
  --color-dark: var(--color-text);

  /* ------------------ SHADOWS & BORDER ------------------ */
  --border-radius: 0.375rem;
  --border: solid 2px var(--color-light);
  --shadow-large: 2px 4px 10px hsl(0 0% 0% / 0.1);
  --shadow-small: 1px 3px 6px hsl(0 0% 0% / 0.1);

  /* ------------------ SIDEBAR (DARK THEME) ------------------ */
  --sidebar-background: #1e1927;
  --sidebar-text: #97979e;
  --sidebar-active-text: var(--color-white);
  --sidebar-logo-text: #e783b0;

  /* ------------------ TABLE COLORS (MATCH SIDEBAR) ------------------ */
  --table-bg: #2c283c;
--table-border: #3a344d;
--table-header-bg: #3b3452;
--table-header-text: #ffffff;
--table-row-text: #d1cce0;
--table-row-alt-bg: #342e4b;
--table-row-hover-bg: #45405f;


  /* ------------------ CARD COLORS ------------------ */
  --card-bg: #97979e;
  --card-header-bg: #1e1927;
  --card-header-text: var(--color-white);
  --card-details-bg: var(--color-text);

  /* ------------------ BUTTON COLORS ------------------ */
  --button-primary-text: var(--color-white);
  --button-primary-bg: var(--color-primary);
  --button-primary-hover-bg: var(--color-primary-rotate);
}
