@use "../mixins/media";

.container {
  display: flex;
  width: 100%;
  height: 100vh;
  // padding-right: var(--space-xxxs);
  // padding-left: var(--space-xxxs);
  background-color: var(--background);
  overflow-y: scroll;

  main {
    flex: 1;
    padding: var(--space-xxxs);
    overflow-y: auto;

    .page {
      padding: var(--space-xl);

      .page-header {
        margin-bottom: var(--space-xl);
        padding-bottom: var(--space-m);
        border-bottom: 0.0625rem solid var(--color-separator);

        &__title {
          font-family: var(--font-family-display);
          font-size: var(--font-size-xxl);
          color: var(--color-primary);
          margin: 0;
        }

        &__subtitle {
          font-family: var(--font-family-sans);
          font-size: var(--font-size-m);
          color: var(--color-dark);
          margin-top: var(--space-xxs);
        }
      }

      .page-content {
        width: 100%;
        margin-top: var(--space-l);
      }
    }
  }

  @include media.media(tabletAndUp) {
    // padding-right: var(--space-xxs);
    // padding-left: var(--space-xxs);
  }
}
