@use "../mixins/media";

/* ==============================
   PAGE HEADER
   ============================== */
.page {
  .page-header {
    display: flex;
    flex-direction: column;
    gap: var(--space-s);
    margin-bottom: var(--space-l);
    border-bottom: 0.0625rem solid var(--color-separator);

    &__title {
      font-family: var(--font-family-display);
      font-size: var(--font-size-xl);
      color: var(--color-primary);
      margin: 0;
    }
    &__subtitle {
      font-family: var(--font-family-sans);
      font-size: var(--font-size-m);
      color: var(--color-dark);
      margin-top: var(--space-xxs);
    }

    /* ---------- Tablet / Desktop Overrides ---------- */
    @include media.media(tabletAndUp) {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }
  }
}
