tr id="#{dom_id event}"
  td
    =event.code
  td
    =event.name
  td
    =event.church_service.name
  td
    =event.start_date
  td
    =event.status
  td
    .btn-groups
      =link_to event_path(event), class: "btn btn--light" do
        =create_icon("show")
      =link_to edit_event_path(event), class: "btn btn--light" do
        =create_icon("edit")
