= turbo_frame_tag nested_dom_id(@attendance_member.attendance, AttendanceMember.new), data: { controller: "modals" } do
  .modal
    .modal__container
      = render "form", attendance_member: @attendance_member
