.navbar {
  box-shadow: var(--shadow-large);
  padding: var(--space-xs) var(--space-m);
  margin-bottom: var(--space-xxl);
  background-color: (var(--color-white));
  width: 100%;

  .brand {
    width: 5rem;

    &__name {
      font-weight: bold;
      margin-left: auto;
      margin-right: var(--space-s);
      color: var(--color-text-header);
    }

    &__logo {
      width: 6rem;
    }
  }

  .menu_items {
    width: 80%;

    .menu_item a {
      text-decoration: none;
    }
  }
}
