.search-form {
  display: flex;
  flex-wrap: wrap;
  gap: var(--space-s);
  align-items: center;
  margin-bottom: var(--space-l);

  input.input {
    padding: var(--space-s) var(--space-m);
    font-size: var(--font-size-m);
    border: 0.0625rem solid var(--color-light);
    border-radius: var(--border-radius);
    background-color: var(--color-background);
    transition: border-color 0.2s, box-shadow 0.2s;

    &:focus {
      border-color: var(--color-primary);
      box-shadow: 0 0 0 0.1875rem var(--color-primary-bg);
      background-color: var(--color-white);
      outline: none;
    }

    &::placeholder {
      color: var(--color-separator);
    }
  }

  .btn {
    padding: 0.5rem 1.25rem;
    font-size: var(--font-size-s);
  }

  // @include media.media(phone) {
  //   flex-direction: column;

  //   input.input,
  //   .btn {
  //     width: 100%;
  //   }
  // }
}
