@use "../mixins/media";

.table-container {
  width: 100%;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  border-radius: var(--border-radius);
  // padding: var(--space-s);
  box-shadow: var(--shadow-small);
  background-color: var(--table-bg);

  table {
    width: 100%;
    border-collapse: collapse;
    font-family: var(--font-family-sans);
    font-size: var(--font-size-s);
    color: var(--table-row-text);
    border: 1px solid var(--table-border);

    th,
    td {
      text-align: left;
      padding: var(--space-s) var(--space-m);
      border-bottom: 1px solid var(--table-border);
    }

    th {
      background-color: var(--table-header-bg);
      color: var(--table-header-text);
      font-size: var(--font-size-m);
      font-weight: 600;
    }

    tbody tr {
      background-color: var(--table-bg);
      transition: background-color 0.2s ease;

      &:nth-child(even) {
        background-color: var(--table-row-alt-bg);
      }

      &:hover {
        background-color: var(--table-row-hover-bg);
      }
    }

    tr:last-child td {
      border-bottom: none;
    }

    /* Action buttons inside table */
  }

  /* ---------- Tablet / Desktop Overrides ---------- */
  @include media.media(tabletAndUp) {
    table {
      th,
      td {
        padding: var(--space-s) var(--space-s);
        font-size: var(--font-size-s);
      }
    }
  }
}
