tr id="#{dom_id attendance}"
  td
    =attendance.date
  td
    =attendance.event.name
  td
    =attendance.church_service.name
  td
    =attendance.status
  td
    .btn-groups
      =link_to attendance_path(attendance), class: "btn btn--light" do
        =create_icon("show")
      =link_to edit_attendance_path(attendance), class: "btn btn--light" do
        =create_icon("edit")
