tr id="#{dom_id attendance}"
  td
    =display_date(attendance.date)
  td
    =link_to event_path(attendance.event) do
      =attendance.event.name
  td
    =link_to church_service_path(attendance.church_service) do
      =attendance.church_service.name
  td
    =attendance.status
  td
    .btn-groups
      =link_to attendance_path(attendance), class: "btn btn--light" do
        =create_icon("show")
      =link_to edit_attendance_path(attendance), class: "btn btn--light" do
        =create_icon("edit")
