tr id="#{dom_id member}"
  td
    =member.code
  td
    =member.full_name
  td
    =member.email
  td
    =member.phone_number
  td
    .btn-groups
      =link_to member_path(member), class: "btn btn--light" do
        =create_icon("show")
      =link_to edit_member_path(member), class: "btn btn--light" do
        =create_icon("edit")
